html {
    background-color: #f3a69e;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    background: url('img/background.jpg') no-repeat;
    background-size: 100vw 100vh;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(95, 31, 65);
}

#scoreBox {
    margin-left: 47%;
    margin-right: 47%;
    background-color: rgb(95, 31, 65);
    border: 2px solid #91d45a;
    color: white;
}

.div1pic {
    margin-top: 10vh; 
    margin-left: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.div2pic {
    margin-top: -4vh;
    margin-left: -12vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#sunPic {
    position: relative;
    cursor: pointer;
  }