body {
    background: url('img/background.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(95, 31, 65);
}

.div1pic {
    margin-top: 160px; 
    margin-left: 290px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.div2pic {
    margin-top: -115px; 
    margin-right: 140px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#sunPic {
    position: relative;
    cursor: pointer;
  }